# ignore python virtual environment
*.pyc
venv/

#ignore data files
/data
/calibrations
/txt_files
/processed_data
/processed_data_v2
/paper_figs
/pyglot
/summary
paper_figures.ipynb

#ignore any ppt/png/svg files 
*.pptx
*.png
*.svg

#ignore old scripts (not used anymore now version control)
/old_scripts

#ignore .DS_store
.DS_store
